.login {
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__form {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        >.btn-admin {
            margin-top: 2rem;
        }
    }

    &__form-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}